/* Общие стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #fff;
}

/* Класс для параллакс-секции */
.parallax-section {
    position: relative;
    overflow-x: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    transition: transform .5s ease-in-out;
}

/* Назначаем фоны каждому элементу через ::before */
.parallax-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.5;
    pointer-events: none;
}

#welcome::before          { background-image: url('img/welcome.jpg'); }
#labynkyr-lake::before   { background-image: url('img/labynkyr.jpg'); }
#tyung-river::before     { background-image: url('img/tyung.jpg'); }
#chersky-range::before   { background-image: url('img/chersky.jpg'); }
#map::before              { background-image: url('img/map.jpg'); }

/* Базовый стиль для содержимого секций */
.content {
    max-width: 960px;
    margin: auto;
    padding: 2rem;
    z-index: 1;
}

/* Подвал */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

/* Мобильная версия */
@media screen and (max-width: 768px) {
    .parallax-section {
        min-height: 30vh;
    }

    section h1, section h2 {
        font-size: 1.5em;
    }
    section p {
        font-size: 1em;
    }

    .content {
        padding: 1rem;
    }

    iframe {
        width: 100%;
        height: 300px;
    }
}

/* Экстра малая ширина (смартфоны) */
@media screen and (max-width: 480px) {
    section h1, section h2 {
        font-size: 1.2em;
    }
    section p {
        font-size: 0.9em;
    }
}